<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Edit book</h1>
<form action="#" th:action="@{/jpa/book/}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}" />
    <p th:text="${'Id: ' + book.id}">Id: </p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>