<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Add book</h1>
<form action="#" th:action="@{/jpa/books}" th:object="${book}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<table>
    <tr>
        <th>ID</th><th>Nimi</th>
    </tr>
    <tbody th:remove="all-but-first">
    <tr th:each="book : ${bookList}">
        <td th:text="${book.id}">1</td><td><a th:text="${book.name}" th:href="@{'/jpa/book/' + ${book.id}}">Sinuhe egyptiläinen</a></td><td><a th:href="@{'/jpa/books/delete/' + ${book.id}}">DELETE</a></td>
    </tr>
    <tr>
        <td>2</td><td>7 veljestä</td>
    </tr>
    <tr>
        <td>3</td><td>Tuhkimo</td>
    </tr>
    </tbody>
</table>
</body>
</html>
